<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Business</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% load static %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{% static 'user_app/css/style.css' %}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
   </head>
   <body>
      {% if messages %}
         {% for message in messages %}
            <div class="alert alert-danger alert-dismissible" role="alert" id="errors">
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
               <strong>{{ message }}</strong>
            </div>
         {% endfor %}
      {% endif %}


      <div class="page-header">
         <h1>Business Page</h1>
      </div>
      <a href="/user/profile">Home</a>
      <p>Name: {{ business.name }}</p>
      <p>Address: {{ business.address }}</p>
      <p>{{ business.location.city }}, {{ business.location.state }}</p>
      <p>Description: {{ business.description }}</p>
      <p>Category: {{ business.search.category }}</p>
      <p>Owner: {{ business.user.name }}</p>
      <div class="page-header">
         <h1>Reviews:</h1>
      </div>
      {% for review in reviews %}
         <h3>{{ review.user.name }} says:</h3>
         <p>{{ review.comment }}</p>
         <p>{{ review.rating }}</p>
      {% endfor %}

      <div class="page-header">
         <h1>Write a Review</h1>
      </div>
      <form action="/business/createReview/{{ business.id }}" method="post">
         {% csrf_token %}

         <div class="form-group">
            <label for="rating">Rating:</label>
            <select class="form-control" id="rating" name="rating">
               <option>5</option>
               <option>4</option>
               <option>3</option>
               <option>2</option>
               <option>1</option>
            </select>
         </div>

         <div class="form-group">
            <label for="comment">Content:</label>
            <textarea name="comment" id="comment" class="form-control" rows="8" cols="80"></textarea>
         </div>

         <button type="sumbit" class="btn btn-danger">Create</button>

      </form>
   </body>
</html>
