<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Business Index</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% load static %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{% static 'business_app/css/style.css' %}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
   </head>
   <body>
      {% if messages %}
         {% for message in messages %}
            <div class="alert alert-danger alert-dismissible" role="alert" id="errors">
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
               <strong>{{ message }}</strong>
            </div>
         {% endfor %}
      {% endif %}

      <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
         <div class="container">
            <a class="navbar-brand" href="index.html">Jelp</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
               Menu
               <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="/user/profile">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/user/logout" data-method="delete">Logout</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav><br>

      <div id="formcontainer" class="container">
         <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
               <h2>Create Business</h2>
               <form id="form" action="/business/createBusiness" method="post">
                  {% csrf_token %}

                  <div class="form-group">
                     <label for="name">Name:</label>
                     <input type="text" name="name" id="name" class="form-control" />
                  </div>

                  <div class="form-group">
                     <label for="address">Adress:</label>
                     <input type="text" name="address" id="address" class="form-control" />
                  </div>

                  <div class="form-group">
                     <label for="city">City:</label>
                     <input type="text" name="city" id="city" class="form-control" />
                  </div>

                  <div class="form-group">
                     <label for="state">State:</label>
                     <input type="text" name="state" id="state" class="form-control" />
                  </div>

                  <div class="form-group">
                     <label for="number">Number:</label>
                     <input type="text" name="number" id="number" class="form-control" />
                  </div>

                  <div class="form-group">
                     <label for="description">Description:</label>
                     <textarea class="form-control" id="description" name="description" rows="8" cols="80"></textarea>
                  </div>

                  <div class="form-group">
                     <label for="category">Category:</label>
                     <select class="form-control" id="category" name="category">
                        <option>Restaurants</option>
                        <option>Auto Repair</option>
                        <option>Home Services</option>
                        <option>Delivery</option>
                     </select>
                  </div>

                  <button type="submit" class="btn btn-primary">Login</button>
               </form>
            </div>
            <div class="col-2"></div>
         </div>
      </div>

      <footer>
         <div class="container">
            <div class="row">
               <div class="col-sm-1"></div>
               <div class="col-sm-3">
                  <p>About</p>
                  <a href="">About Jelp</a>
                  <a href="">Careers</a>
                  <a href="">Press</a>
                  <a href="">Investor Relations</a>
                  <a href="">Content Guidelines</a>
                  <a href="">Terms of service</a>
                  <a href="">Privacy Policy</a>
                  <a href="">Ad Choices</a>
               </div>
               <div class="col-sm-3">
                  <p>Discover</p>
                  <a href="">The Local Jelp</a>
                  <a href="">Jelp Blog</a>
                  <a href="">Support</a>
                  <a href="">Jelp Mobile</a>
                  <a href="">Developers</a>
                  <a href="">RSS</a>
               </div>
               <div class="col-sm-3">
                  <p>Jelp for Business Owners</p>
                  <a href="#">Claim your Business Page</a>
                  <a href="#">Advertise on Jelp</a>
                  <a href="#">Jelp Reservations</a>
                  <a href="#">Jelp Wifi</a>
                  <a href="#">Jelp Nowait</a>
                  <a href="#">Business Success Stories</a>
                  <a href="#">Jelp Blog for Business Owners</a>
                  <a href="#"></a>
               </div>
               <div class="col-sm-2">
                  <p>Languages</p>
                  <a href="#">English</a>
                  <br>
                  <p>Countries</p>
                  <a href="#">United States</a>
               </div>
            </div><br><hr>
            <div class="row">
               <div class="col-12 text-center">
                  <p class="copyright text-muted">Copyright &copy; Jelp 2018</p>
               </div>
            </div>
         </div>
      </footer>
   </body>
</html>
